.main5-event-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
}

.main-section-5-content-wrap {
    width: 100%;
    height: 100%;
    text-align: left;
}

.main5-card {
    display: flex;
    flex-direction: column;
    width: 347px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.main5-card:hover {
    cursor: pointer;
}

.main5-card img {
    width: 100%;
    height: 347px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-section-5-content-wrap p:nth-child(2) {
    height: 50px;
    overflow: hidden;
}
.main-section-5-content-wrap ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main-section-5-content-wrap ul li {
    border-radius: 10px;
}

.main5-event {
    width: 100%;
    position: relative;
    width: auto;
    height: auto;
    z-index: 1;
}

.main5-event::before {
    content: "";
    position: absolute;
    bottom: -1%;
    width: 110%;
    left: -5%;
    height: 43%;
    background-color: var(--mega-yellow-color);
    z-index: -1;
}

.main-section-5-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    margin-bottom: 2.5rem;
}

.main-section-5-title p {
    opacity: 0.6;
}

.main-section-5-title h1 {
    font-weight: 900 !important;
    letter-spacing: -3px;
}

.main5-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.main-section-5-text-box {
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
}

.main-section-5-text-box p {
    padding-bottom: 1rem;
    opacity: 0.5;
}

.main-section-5-text-box button {
    background: var(--mega-yellow-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: 0.4s;

}
.main-section-5-text-box button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.2s;
}

.main5-card-content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.main5-card-content-wrap div {
    height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 10px;
}

.main5-card-content-wrap p:nth-child(2),
.main5-card-content-wrap p:nth-child(3) {
    opacity: 0.5;
}

@media (max-width:1280px) {
    .main-section-5-title h1 {
        font-size: 3rem;
        letter-spacing: -2px;
    }

    .main-section-5-title p {
        font-size: 1.2rem
    }

    .main5-card {
        max-width: 347px;
        height: 100%;
        width: 100%;
    }

    .main5-card img {
        height: 100%;
        width: 100%;
    }

    .main-section-5-content-wrap ul li {
        height: 100%;
    }

    .main5-card-content-wrap div p {
        font-size: 1.1rem;
    }

    .main5-card-content-wrap>p {
        font-size: 12px;
    }

    .main5-card-content-wrap {
        padding: 8%;
    }
}

@media (max-width:760px) {
    .main-section-5-content-wrap ul {
        flex-direction: column
    }

    .main-section-5-content-wrap ul li {
        width: 100%;
    }

    .main5-card {
        max-width: none;
        width: 100%;
        flex-direction: row;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
        border: 0;
    }

    .main5-card img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        width: 7.5rem;
        height: 100%;
    }

    .main5-card-content {
        width: 100%;
    }

    .main5-card-content-wrap {
        padding: 1rem;
    }

    .main5-event-wrap {
        padding: 2rem;
    }
    .main-section-5-title {
        margin: 0;
        transform: scale(0.7);
    }
    .main-section-5-text-box {
        margin: 0;
        padding: 10px;
        transform: scale(0.8);
    }
}