/* 초기 */
:root {
 --mega-font-color : #1c1c1B;
  --mega-yellow-color: #fdd000;
  --mega-footer-color: #212121;
  --mega-footer-font-color: #aaa;
  --mega-side-btn-hover-color: #703614;
  --mega-side-btn-color: rgb(28, 28, 27);
}
* {
  box-sizing: border-box;
  color: var(--mega-font-color);
  margin:0;
  padding:0;
}
p {
  margin: 0;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrap {
  position: relative;
  width: 100%;
  text-align: center;
}

html,body{
  height: 100vh;
  scroll-behavior: smooth;

}

main{
  overflow: visible;
}

main section{
  display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    background: #fff;
   
}

footer{
  scroll-snap-align: end;
}

main section:nth-of-type(3){
  background: var(--mega-yellow-color);
}

/* ㅡㅡㅡ사이드 퀵 ㅡㅡㅡ */
.fixed-side-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  width: 12rem;
  height: 100%;
  z-index: 1;
}

.fixed-side-container p {
  color: white;
}

.fixed-side-title {
  font-weight: 300;
  font-size: 14px;
}

.fixed-side-text {
  font-weight: bold;
  font-size: 1.2rem
}

.sideLineHeight {
  line-height: 1.2rem;
}

.pointText p {
  color: var(--mega-yellow-color);
}

.pointText:hover {
  color: var(--mege-font-color);
}

.fixed-side-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fixed-side-1 li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  background-color: var(--mega-side-btn-color);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.fixed-side-container li:not(#quickBtn):hover {
  background-color: var(--mega-yellow-color);
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.fixed-side-container li:not(#quickBtn):hover p {
  color: var(--mega-font-color)
}

.fixed-side-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 2px;
}

#quickBtn {
  display: none;
}
.f-hdn {
    display: flex !important;
}

/* 반응형 */
@media (max-width: 1280px) {

.fixed-side-1 li {
    display: none;
}
.fixed-side-title {
    font-size: 11px;
}
.fixed-side-text {
    font-size: 1rem;
}
#quickBtn {
    display: flex;
    background-color: var(--mega-side-btn-color);
}
#quickBtn:hover {
    background: var(--mega-side-btn-color);
    cursor: pointer;
}
.fixed-side-container {
    align-items: end;
    bottom: 1rem;
    right: -2rem;
}
.fixed-side-container li {
    width: 80px;
    height: 80px;
};
}