.main2-box{
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

/* 왼쪽박스 중앙 가까이 정렬 */
.main2-box:nth-of-type(1){
        justify-content: flex-end;
}

/* 왼쪽 박스 */
.info-inner {
    width:32rem;
    height:37rem;
    text-align: left;
}

/* subtitle */
.info-inner > p:nth-of-type(1){
    font-size: 1.2rem;
    font-weight: 400;
}

.info-inner > p:nth-of-type(2){
    font-size: 1rem;
    font-weight: 300;
    margin: 20px 0;
}

/* maintitle, season */
.info-box{
    margin: 0 0 30px;
}

.info-box > h3 {
    display: inline-block;
    position: relative;
    font-size: 2.6rem;
    height:50px;
    z-index: 1;
    font-weight: 700;
    margin:20px 0;
}

.info-box > h3::after{
    content: "";
    display: block;
    position:absolute;
    top:75%;
    left:-5%;
    width:100%;
    height:50%;
    padding:0 20px;
    background: var(--mega-yellow-color);
    z-index:-1;
}

/* 버튼 */
.main2-btn {
    width:9.2rem;
    height:55px;
    padding:0 20px;
    background: var(--mega-yellow-color);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main2-btn:hover {
    background: #ffdf43;
    transform: translateY(-4px);
}


/* 오른쪽 박스 */
/* 실제로 보이는 영역 */
#slide-container {
    width: 418px;
    height: 578px;
    position: relative;
}

/* 슬라이드 전체 영역 */
#slide-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    height: 578px;
    transition: transform 0.5s ease;
}

/* 슬라이드 카드 */
.card {
    flex-shrink: 0;
    width: 418px;
    max-width: 418px;
    height: 418px;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s ease; 
}

/* 버튼 */
.main2-btn-controls {
    position: absolute;
    top:4rem;
    right:-9rem;
}

.main2-slide-btn {
    width:40px;
    height:40px;
    z-index: 5;
    font-size: 32px;
    background: none;
    border: solid #363636;
    border-width: 0 0 3px 3px;
    opacity: 0.2;
    transform: rotate(45deg);
    cursor: pointer;
}

.main2-slide-btn:hover {
    opacity: 1;
}

.main2-slide-btn:nth-of-type(2){
    transform: rotate(-135deg);
}

/* 활성화 */
.card.active {
    height:578px;
}

.card.active .text-box {
    display: block;
    text-overflow: ellipsis;
}

.slide-item-area {
    width: 418px;
    height: 418px;
}

.slide-item-area > img {
    width:418px;
    height:418px;
    object-fit:cover;
    display:inline-block;
}

/*텍스트박스*/

.text-box {
    display:none;
    width:auto;
    height:178px;
    padding:8%;
    text-align:left;
    background:#f4f6f8;
    font-size:0.9rem;
    word-break: break-word;
    overflow: hidden;
}

.text-box div:nth-child(1){
    margin:0 0 15px;
    line-height:2;
}

.con-text{
    font-size:1.3rem;
    font-weight:400;
    line-height:1.2;
}

/* 텍스트 속성 */

.text1 {
    opacity: 0.7;
}

.text2 {
    font-size:1.5rem;
    font-weight: 300;
}

.text-bold {
    font-weight: bold;
}

@media(max-width:760px){
    #menu{
        flex-direction: column;
    }
    .main2-box{
        width:100%;
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:30px;
    }
    .info-inner{
        width: 100%;
        height: auto;
    }

    .info-inner > p:nth-of-type(1){
    font-size: 0.9rem;
    font-weight: 400;
    }

    .info-inner > p:nth-of-type(2){
    font-size: 0.75rem;
    font-weight: 300;
    margin: 15px 0;
    }

    .info-inner h3{
        font-size: 1.5rem;
        margin:24px 0;
    }

    .info-inner h3::after{
        padding: 0 8px;
        width:100%;
        height:35%;
        top:35%;
    }

    .info-box{
        margin:0;
    }

    .main2-btn{
        font-size: 1rem;
        width:118px;
        height:40px;
        padding:0;
    }

    /* 슬라이드 */
    #slide-container{
        width:200px;
        height:310px;
    }

    #slide-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    height: 310px;
    transition: transform 0.5s ease;
    }

        .card {
    width: 200px;
    max-width: 200px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: height 0.5s ease; 
    }

    .card.active {
    height:310px;
    }

    .card .text-box{
        display: block !important;
        height: 107px;
        opacity: 1;
        overflow: visible;
        background: #fff;
    }

    .slide-item-area {
    width: 200x;
    height: 200px;
    }

    .slide-item-area > img {
    width:200px;
    height:200px;
    object-fit:cover;
    display:inline-block;
    }

    .con-text{
        font-size: 0.85rem;
    }

    .text1 {
        font-size: 0.61rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main2-slide-btn {
        display: none;
    }
}