#main {
    position:relative;
    overflow: hidden;
    align-items: center;
    color: black;
}

#main1-wrap{
    width:100%;
    height:100vh;
    overflow: hidden;
}
/* slide */
#main1-slide{
    width: auto;
    height: 100vh;
    display: flex;
    transition: transform 0.6s ease;
}

.main1-slide-item{
    flex:0 0 100vw;
    position: relative;
}

.main1-slide-item img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* scroll-icon */

#icon-box {
    position:absolute;
    bottom:3rem;
    color:#fff;
    cursor: pointer;
    animation: icon_move 1.5s linear infinite;
    transform: translateY(-2rem);
}

@keyframes icon_move {
    0% {bottom:10px; opacity: 1;}
    50% {bottom:0px; opacity: 0.2;}
    100% {bottom:10px; opacity: 1;}
}

.icon-mouse {
    position:relative;
    width:20px;
    height:45px;
    border: 2px solid #fff;
    border-radius: 12px;
    padding:10px;
    margin: 0 auto;
}

.icon-wheel {
    position:absolute;
    left:8px;
    width: 4px;
    height: 8px;
    background: #fff;
    border-radius: 4px;
    animation: wheel_move 1.5s linear infinite;
}

@keyframes wheel_move {
    0% {transform: translateY(-12px); opacity: 0;}
    50% {transform: translateY(5px); opacity: 1;}
    100% {transform: translateY(12px); opacity: 0;}
}

.icon-text {
    color:#fff;
    margin:5px 0;
}

/* dots control box */
.controls {
    position:absolute;
    bottom:1rem;
    display: flex;
    gap:8px;
    z-index: 5;
    cursor: pointer;
}

.dot {
    width: 20px;
    height: 8px;
    background: #fff;
    opacity: 0.5;
    border-radius: 0.25rem;
}

.active {
    width: 48px;
    opacity: 1;
}

@media (max-width: 760px) {
  .main1-slide-item.type-wide img {
    object-fit: contain;
    height: auto;
    background: #000;
  }

  .main1-slide-item.type-tall img {
    object-fit: cover;
    height: 100dvh;
  }
}