main{
    font-weight: 300;
    line-height: 1.4;
    height: auto;
    margin: 0 auto;

}

.about-topb-title {
    width: 100%;
    position: relative; 
    isolation: isolate; 
    padding: 100px 0;
    background: url(https://img.79plus.co.kr/megahp/common/img/sub_head_brand.jpg);
    background-size: cover;
    background-position: center center;
}
.about-topb-title::before {
    content: "";
    position: absolute;
    inset: 0; 
    background-color: rgba(73, 73, 73, 0.9);
    z-index: -1; 
}
.about-topb-title div:nth-child(1){
    font-size: 1.5rem;
    color: #fff;

}
.about-topb-title div:nth-child(2) h2{
    font-size: 3.8rem;
    font-weight: 900;
    color: var(--mega-yellow-color);
}

.about-topb-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.about-topb-nav li {
  color: white;
}

.about-topb-nav li + li::before {
  content: ">";
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.about-top-slide-down{
    background: var(--mega-yellow-color);
    position: relative;
    overflow: inherit !important;
    z-index: 2;
    padding: 50px 0;

    animation-name: slideDownAnimation;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    
}

@keyframes slideDownAnimation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-top-slide-down ::after{
  position: absolute;
  z-index: 1;
  content: "";
  background: var(--mega-yellow-color);
  width: 50px;
  height: 50px;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  transform: translate(-50%, 0) rotate(-45deg);
}
.about-top-slide-title{
    font-size: 2.1rem;
}
.about-top-slide-title p:nth-child(1){
    font-weight: 900;
}

.about-contents{
    max-width: 1280px;
    padding: 100px 0;
    margin: 0 auto;

}
.about-cont-box2{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.about-cont-box2-inner ul{
    width: 100%;
    display: flex;
    gap: 2rem;

}
.about-cont-box2-inner li{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-cont-box2-title p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.about-cont-box2-title h1{
    font-size: 3.5rem;
    font-weight: 900;
}

.about-cont-box2-subcopy{
    margin: 2rem 0;
}
    
.list-text-box{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background: #fff;
}

.list-text-box p:nth-child(1),
.list-text-box p:nth-child(2){
    font-size: 1.4em;
    padding-bottom: 1.2rem;
}

.list-text-box p:nth-child(2),
.list-text-box p:nth-child(3){
    color: var(--mega-font-color);
}

.list-text-box p:nth-child(1){
    font-weight: 800;
    color: var(--mega-yellow-color); 
}

.list-text-box p:nth-child(2){
    font-weight: 400;
}

.about-cont-box3{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-cont-box3-left{
    width: 100%;
    text-align: left;
    padding-right: 50px;

}
.about-cont-box3-left h2{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.0;
    padding-bottom: 2rem;
}

.about-cont-box3-left p:nth-child(2){
   
}
.about-cont-box3-left p:nth-child(3){
    padding: 1.5rem 0;
}

.about-cont-box3-left-img ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding-top: 2rem;
}
.about-cont-box3-left-img li{
border: 1px solid rgba(0, 0, 0, 0.1);
}
.about-cont-box3-left-img li img{
    width: 100%;
}

.about-cont-box3-right{
    width: 100%;
}