main{
    font-weight: 300;
    line-height: 1.4;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;

}
.about-cont-box{
    padding: 6.5rem 0px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.about-topb-title {
    position: relative; 
    isolation: isolate; 
    padding: 100px 0;
    background: url(https://img.79plus.co.kr/megahp/common/img/sub_head_brand.jpg);
    background-size: cover;
    background-position: center center;
}
.about-topb-title::before {
    content: "";
    position: absolute;
    inset: 0; 
    background-color: rgba(73, 73, 73, 0.8);
    z-index: -1; 
}
.about-topb-title div:nth-child(1){
    font-size: 1.2rem;

}
.about-topb-title div:nth-child(2) h2{
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--mega-yellow-color);
    

}




s

.about-contents{
    padding: 100px 0;

}
.about-cont-box2{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.about-cont-box2-inner ul{
    width: 100%;
    display: flex;
    gap: 2rem;

}
.about-cont-box2-inner li{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-cont-box2-title p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.about-cont-box2-title h1{
    font-size: 3.5rem;
    font-weight: 900;
}

.about-cont-box2-subcopy{
    margin: 2rem 0;
}
    
.list-text-box{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background: #fff;
}

.list-text-box p:nth-child(1),
.list-text-box p:nth-child(2){
    font-size: 1.4em;
    padding-bottom: 1.2rem;
}

.list-text-box p:nth-child(2),
.list-text-box p:nth-child(3){
    color: var(--mega-font-color);
}

.list-text-box p:nth-child(1){
    font-weight: 800;
    color: var(--mega-yellow-color); 
}

.list-text-box p:nth-child(2){
    font-weight: 400;
}

.about-cont-box3{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-cont-box-3-left{
    width: 100%;
    text-align: left;
    padding-right: 50px;

}
.about-cont-box-3-left h2{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.0;
    padding-bottom: 2rem;
}

.about-cont-box-3-left p:nth-child(2){
   
}
.about-cont-box-3-left p:nth-child(3){
    padding: 1.5rem 0;
}

.about-cont-box-3-left-img ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding-top: 2rem;
}

.about-cont-box-3-left-img li img{
    width: 100%;
}

.about-cont-box-3-right{
    width: 100%;
}