
.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #fff; */

    z-index: 999;
}
.header-section:hover {
    background: #fff;
}

.header-inner {
    max-width: 1270px;
    margin: 0 auto;
    /* margin-top: 20px; */
    display: flex;
    align-items: flex-start;
    /* 서브메뉴 내려올 공간 확보 */
    justify-content: space-between;
    height: 80px;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 10px 0;
}

.header-inner:hover {
    height: 300px;
    opacity: 1;
    /* hover 시 inner가 커짐 */
}

.header-logo img {
    height: 3.3rem;
    margin-left: 2rem;
}

nav.header-nav {
    display: flex;
    align-items: flex-start;
    /* 메뉴가 내려올 수 있게 */
}

.header-nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.header-nav-item {
    position: relative;
    width: 5rem;
    text-align: center;
}

.header-nav-item>a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
    display: block;
    transition: color 0.2s ease;
    /* width: 10em; */
}

.header-nav-item>a:hover {
    background-color: #ffcc00;
}

/* 서브 메뉴 기본 숨김 */
.header-submenu {
    list-style: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-top: 10px;
}

/* hover 시 서브 메뉴 표시 */
.header-inner:hover .header-submenu {
    opacity: 1;
    max-height: 200px;
}

.header-submenu-item a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}

.header-submenu-item a:hover {
    background-color: #ffcc00;
}

.header-nav-item:hover {
    background-color: #ffcc00;
    height: 20rem;
}

.header-submenu-item:hover {
    text-decoration: underline;
    justify-content: center;
}


.header-nav-move-bar-link {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-nav-move-bar-link-click {
    width: 45px;
    height: 45px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    transition: all 0.25s ease;
}

/* 링크 전체에 flex 적용 (이미지 정렬 안정화) */
.header-nav-move-bar-link-click a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-nav-move-bar-link-click img {
    display: block;
    object-fit: contain;
}

/* hover 시 효과 */
.header-nav-move-bar-link-click:hover {
    background-color: #ffcc00;
    border-style: none;
}

@media (max-width: 1280px) {
    .header-nav-list {
    display: none;
}
.header-inner:hover {
    height: 100%;
}
.header-section:hover {
    transition: 0.5s;
}
}
@media (max-width: 760px) {
    .header-nav-move-bar-link {
    display: none;
}
}